body{
	font-family:sans-serif;
	font-size:10pt;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
td {
	vertical-align:top;
}
td.numeric {
	text-align:right;
}
label {
	display:block;
	font-weight:bold;
	font-size:10pt;
}
input {
	display:block;
	margin-bottom:0.3em;
	padding: 0.3em;
	border: 1px solid lightgrey;
	border: 1px solid rgba(0,0,0,0);
	transition: box-shadow 0.3s, border 0.3s;
}
input:hover{
	border: 1px solid lightgrey;
}
input:focus{
	border: 1px solid rgba(0,0,0,0);
	box-shadow: inset 0 0 2px 1px lightgrey;
}
summary{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	display:block;
	font-size: 2em;
	font-weight:bold;
}
form{
	display:inline-block;
	vertical-align: text-top;
	padding-right:1em;
}
form#toolbar input{
	display:inline;
}